#discord_logo
{
	width: 50%;
	height: 50%;
}

img
{
	width: 40%;
	height: 40%;
	margin: 5px;
}

#main_div
{
	border: 4px solid black;
	border-radius: 10px;
	font-size: 15px;
	padding: 5%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(235,235,235);
}

.button
{
	border: 3px solid black;
	background-color: rgb(140, 158, 255);
	font-size: 20px;
	padding: 10px;
	color: black;
	border-radius: 5px;
	cursor: pointer;
}

.hovering
{
	background-color: rgb(100, 100, 200);
	color: white;
}

a
{
	text-decoration: none;
}

code
{
	border: 1px solid black;
	background-color: white;
	border-radius: 5px;
	padding: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#serverpics
{
	width: 30%;
	height: 30%;
}

#medium
{
	width: 25%;
	height: 25%;
}

p
{
	font-size: 120%;
}

#codeexample
{
	border: 2px solid black;
	background-color: white;
	border-radius: 5px;
	padding: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	white-space: pre-wrap;
}

#tiny
{
	width: 10%;
	height 10%;
}

#code
{
	margin-top: 20px;
	margin-bottom: 20px;
}

#buttons
{
	margin-top: 5px;
	margin-bottom: 5px;
}